body {
  font-family:  Arial, sans-serif;;
  padding: 2rem;
}

section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h2 {
  margin-bottom: 1rem;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}


li{
  padding-bottom: 0.3rem;
  text-decoration: none;
}

.input-wrapper {
  margin: 0 0 1em 0; 
}

a.button {
  display: inline-block;
  padding:0.5rem 0.7em;
  color: rgb(0,0,0);
  background-color: rgb(192, 233,240);
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button:hover, a.button:focus {
  color: rgb(155,155,155);
}


.complete {
  color: rgb(0,0,0);
  background: rgb(255,255,255);
  padding: 0.2rem;
  margin: 1rem;
  border: 1px solid #333;
  padding-left: 3rem;
}


.contentInfo{
  color: rgb(0,0,0);
  background: rgb(255,255,255);
  padding: 0.2rem;
  margin: 1rem;
  margin-top: 1rem;
  margin-left:5rem;
}







